/* header */
.header {
    background-color: var(--bg-dark);
    color: var(--white);

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0.5rem 3rem;
}

.titleWrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
}

.title {
    margin-right: 0.5rem;
    color: var(--text-white);
    font-size: x-large;
    font-weight: 1000;
}

.titleMobile {
    display: none;
}

.subtitle {
    color: var(--text-white);
    font-size: small;
}

.searchBar {
    flex-grow: 1;
    width: auto;
}

.userFieldWrapper {
    flex-grow: 2;

    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
}

.userWrapper {
    color: var(--white);

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.userIcon>* {
    font-size: 1.5rem;
}

.cartWrapper {
    color: var(--white);

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cartButton {
    border: none;

    background-color: var(--bg-dark);
    color: var(--white);

    position: relative;
    cursor: pointer;
}

.cartQty {
    position: absolute;
    top: -0.3rem;
    right: -0.1rem;

    padding: 0rem 0.4rem;

    border-radius: 15px;

    background-color: var(--text-red);
    color: var(--bg-light-white);
}

.cartButton :hover {
    color: var(--text-purple);
}

.cartIcon>* {
    font-size: 1.6rem;
}

/* .cartDrawer button>* {
    color: var(--text-white);
} */

/* content */
/* .content {
    height: 100%;

    background-color: red;
    
} */

/* footer */
.footer {
    padding: 1.5rem 3rem;

    background-color: var(--bg-dark);
    color: var(--white);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon {
    color: var(--bg-white);
}

.footerMenu {
    list-style: none;
    color: var(--white);

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.iconsWrapper {
    list-style: none;
    color: var(--white);

    display: flex;
    flex-direction: row;
    gap: 1rem;
}


a {
    color: var(--text-white);
}

.signLink {
    text-decoration: underline;
    cursor: pointer;
}

/* adaptive */
@media (max-width: 44rem) {

    /* header */
    .header {
        /* background-color: var(--bg-dark);
        color: var(--white); */
        padding: 1rem;
        height: auto;

        display: grid;
        grid-template-areas:
            'area1 area2'
            'area3 area3';
        gap: 1rem;
        /* align-items: center; */
        /* justify-content: space-between; */
    }

    .titleWrapper {
        grid-area: area1;
    }

    .title {
        margin-right: 0rem;
    }

    .title {
        display: none;
    }

    .titleMobile {
        display: block;

        color: var(--text-white);
        font-size: x-large;
        font-weight: 1000;
    }

    .userFieldWrapper {
        grid-area: area2;

        gap: 1.5rem;
        align-items: baseline;
        justify-content: flex-end;
    }


    .searchBar {
        grid-area: area3;

    }


    .signLink {
        display: none;
    }

    /* footer */
    .footer {
        display: grid;
        grid-template-areas:
            'line1'
            'line2'
            'line3';

        gap: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .iconsWrapper {
        grid-area: line1;
        justify-self: center;
    }

    .footerMenu {
        grid-area: line2;
        justify-self: center;
    }
}