.quantityInput {
    text-align: center;
    text-wrap: wrap;
}
.quantityInput div,input{
    text-align: center;
    text-wrap: wrap;
}
.wrappeee input{
    text-align: center;
    text-wrap: wrap;
}
.ant-input-number-input {
    text-align: center;
    text-wrap: wrap;
}